/* Include the base styles at all times */
* {
	src: url(./BaseStyles.css);
	src: url(./Card.css);
}

body::after {
  content: '';
  display: block;
  height: 70px; /* Set same as footer's height */
  background-color: #efefef;
}

.body-heading {
	color: midnightblue;
	font-size: 30pt;
	font-weight: 600;
	width: 450px;
	display: inline-block;
}

.body-wrapper {
	max-width: 100%;
	margin-top: 20px;
	margin-left: 10%;
}

.body-content {
	width: 800px;
	background: lightgrey;
	padding: 10px;
	border-radius: 10px;
	height: 100%;
}

.content-body {
	max-width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 0;
	margin-bottom: 100px;
	display: inline-block;
}

.router-wrapper {
	border: 10pt solid transparent;
	background-color: #efefef;
	align-items: center;
	justify-content: center;
}

.center {
	align-items: center;
	text-align: center;
}

.input {
	align-content: left;
	max-width: 100%;
	border: 10pt solid transparent;
}

.button {
	margin-top: 10pt;
	width: 50%;
}

.item-wrapper {
	justify-content: center;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.checkbox {
	margin-left: 5%;
}
