/* Include the base styles at all times */
* {
	src: url(./BaseStyles.css);
	src: url(./Card.css);
}

.body-heading {
	color: midnightblue;
	font-size: 30pt;
	font-weight: 600;
	width: 450px;
	display: inline-block;
}

.body-wrapper {
	max-width: 100%;
	margin-top: 20px;
	margin-left: 10%;
}

.body-content {
	width: 800px;
	background: lightgrey;
	padding: 10px;
	border-radius: 10px;
}

.content-body {
	max-width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 0;
	margin-bottom: 100px;
	display: inline-block;
}

.router-wrapper {
	border: 10pt solid transparent;
	background-color: #efefef;
	align-items: center;
	justify-content: center;
}

.center {
	align-items: center;
	text-align: center;
}

.input {
	align-content: left;
	max-width: 100%;
	border: 10pt solid transparent;
}

.button {
	margin-top: 10pt;
	width: 50%;
}

.item-wrapper {
	justify-content: center;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.checkbox {
	margin-left: 5%;
}

.admin-col-left {
	position: relative;
	font-size: 20px;
	color: black;
	background: rgba(50, 135, 255, 0.15);
	margin-top: 50px;
	border-radius: 10px 0px 0px 10px;
	height: 200px;
	padding-top: 30px;
}

.admin-col-right {
	position: relative;
	font-size: 20px;
	color: black;
	background: rgba(50, 135, 255, 0.15);
	margin-top: 50px;
	border-radius: 0px 10px 10px 0px;
	height: 200px;
	padding-top: 30px;
}

.admin-col-mid {
	position: relative;
	font-size: 20px;
	color: black;
	background: rgba(50, 135, 255, 0.15);
	margin-top: 50px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	height: 200px;
	padding-top: 30px;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: black;
	padding-bottom: 15px;
}

h4 {
	font-size: 18px;
	text-align: left;
}

.ul1 {
	list-style: none;
}