.h1 {
    text-align: center;
    color:#0074D9;
    margin-bottom: 20pt;
    font-size: 50pt
  }
.input-wrapper{
    display: flex;
    justify-content: center;
  }
  
  .input {
    width: 50%;
  }
  
  .register {
    width: 40%;
  }